<div class="mt-3 mb-5">
  <h2>Entrenamiento de la red</h2>
  <div class="row">
    <div class="col-sm-6">

      <form class="form-left" [formGroup]="form">

        <mat-card [class.mat-elevation-z8]="true">
          <mat-card-header>
            <div mat-card-avatar></div>
            <mat-card-title>Parámetros del entrenamiento</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <mat-form-field class="form-field" appearance="outline">
              <mat-label>Numero de itereciones*</mat-label>
              <input formControlName="nIteraciones" matInput type="number" />
              <mat-error>{{getErroIteraciones()}}</mat-error>
            </mat-form-field>

            <mat-form-field class="form-field" appearance="outline">
              <mat-label>Rata de aprendizaje*</mat-label>
              <input formControlName="rAprendizaje" matInput type="number" />
              <mat-error> {{getErroIRAprendizaje()}}</mat-error>
            </mat-form-field>

            <mat-form-field class="form-field" appearance="outline">
              <mat-label>Error Maximo Permitido*</mat-label>
              <input formControlName="errorMaximo" matInput type="number" />
              <mat-error> {{getErrorErrorMaximo()}}</mat-error>
            </mat-form-field>
          </mat-card-content>
        </mat-card>

        <mat-card [class.mat-elevation-z8]="true" class="card-datos">
          <mat-card-header>
            <div mat-card-avatar></div>
            <mat-card-title>Datos de entrada</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div>
              <button [disabled]="isInvalidParametrosEntrada" type="button" color="primary" mat-raised-button (click)="fileInput.click()">
                Cargar Datos
              </button>
              <input type="file" hidden #fileInput (change)="onChange($event.target.files)" />
            </div>
          </mat-card-content>
          <mat-card-actions>
            <div *ngIf="this.neurona != null">
              <mat-chip-list aria-label="Fish selection">
                <mat-chip>{{"Entradas: "+this.neurona.nEntradas}}</mat-chip>
                <mat-chip>{{"Salidas: "+this.neurona.nSalidas}}</mat-chip>
                <mat-chip>{{"Patrones: "+this.neurona.nPatrones}}</mat-chip>
              </mat-chip-list>
            </div>
          </mat-card-actions>
        </mat-card>



      </form>

    </div>
    <div class="col-sm-6">

      <form class="form-right" [formGroup]="form" (submit)="main()">
        <mat-card *ngIf="neurona != null" [class.mat-elevation-z8]="true">
          <mat-card-header>
            <div mat-card-avatar></div>
            <mat-card-title>Configuracion de la red</mat-card-title>
          </mat-card-header>
          <mat-card-content>

            <mat-form-field class="form-field" appearance="outline">
              <mat-label>Funcion de activacion para la capa de salida</mat-label>
              <mat-select formControlName="fActivacion">
                <mat-option value="Sigmoide">Sigmoide</mat-option>
                <mat-option value="Gausiana">Gausiana</mat-option>
                <mat-option value="Tangente">Tangente Hiperbolica</mat-option>
                <mat-option value="Lineal">Lineal</mat-option>
              </mat-select>
              <mat-error> {{getErrorComboFActivacion()}}</mat-error>
            </mat-form-field>
            <div>
              <button type="button"  id="wrapper" color="primary" mat-raised-button (click)="addCapaOculta()">
                Agregar Capa Oculta
              </button>
            </div>

            <div formArrayName="capasOcultas" *ngFor="let capa of capasOcultas.controls; let i = index">
              <div [formGroupName]="i">
                <h5>Capa {{i+1}}</h5>
                <div class="row">
                  <div class="col-md-4">
                    <mat-form-field  appearance="outline">
                      <mat-label>Numero de neuronas*</mat-label>
                      <input formControlName="nNeuronas" matInput type="number" />
                      <mat-error> {{getErrorInputCapaOculta(capa.get('nNeuronas'))}}</mat-error>
                    </mat-form-field>
                  </div>

                  <div class="col-md-5">
                    <mat-form-field  appearance="outline">
                      <mat-label>Funcion de activacion</mat-label>
                      <mat-select formControlName="fActivacion">
                        <mat-option value="Sigmoide">Sigmoide</mat-option>
                        <mat-option value="Gausiana">Gausiana</mat-option>
                        <mat-option value="Tangente">Tangente Hiperbolica</mat-option>
                      </mat-select>
                      <mat-error> {{getErrorComboCapaOculta(capa.get('fActivacion'))}}</mat-error>
                    </mat-form-field>
                  </div>

                  <div class="col-md-3">
                    <button type="button" color="warn" mat-raised-button (click)="removCapaOculta(i)">
                      Remover
                    </button>
                  </div>
                </div>

              </div>

            </div>

            <mat-form-field class="form-field" appearance="outline">
              <mat-label>Algoritmo de entrenamiento</mat-label>
              <mat-select formControlName="aEntrenamiento">
                <mat-option value="aSupervisado">Aprendizaje supervisado</mat-option>
                <mat-option value="Perceptron">Perceptron</mat-option>
              </mat-select>
              <mat-error> {{getErrorComboAEntrenamiento()}}</mat-error>
            </mat-form-field>
          </mat-card-content>
        </mat-card>

        <mat-card *ngIf="!isInvalidConfigRed" [class.mat-elevation-z8]="true" class="mt-3">
          <mat-card-header>
            <div mat-card-avatar></div>
            <mat-card-title>Inicializar pesos</mat-card-title>
          </mat-card-header>
          <mat-card-content>

            <mat-form-field class="form-field" appearance="outline">
              <mat-label>Tipo de inicializacion</mat-label>
              <mat-select formControlName="tipoInitPesos" (selectionChange)="selectOpcion($event.source.value)">
                <mat-option value="alAzar">Al azar</mat-option>
                <mat-option value="cargarPesos">Cargar pesos</mat-option>
                <mat-option value="ingresarPesos">Ingresar pesos</mat-option>
              </mat-select>
              <mat-error> {{getErrorComboTipoInitPesos()}}</mat-error>
            </mat-form-field>
            <mat-card-actions>

              <div *ngIf="form.get('tipoInitPesos').value === 'alAzar'">
                <mat-chip-list aria-label="Fish selection">
                  <div *ngFor="let ii of vectorPesos let i = index">
                    <h5>Pesos {{i+1}}</h5>
                    <div *ngFor="let jj of vectorPesos[i] let j = index">
                     <div *ngFor="let kk of vectorPesos[i][0] let k = index">
                      <mat-chip>{{"W"+(j+1)+""+(k+1)+": "+vectorPesos[i][j][k]}}</mat-chip>
                     </div>
                    </div>
                  </div>
                </mat-chip-list>
              </div>

              <div  *ngIf="form.get('tipoInitPesos').value === 'cargarPesos'" class="carga-pesos">
                <button [disabled]="isInvalidParametrosEntrada" type="button" color="primary" mat-raised-button (click)="fileInputP.click()">
                  Cargar Datos
                </button>
                <input type="file" hidden #fileInputP (change)="cargarPesos($event.target.files)" />
                <mat-card-actions class="mostrar-pesos" *ngIf="matrizPesos.length != 0">
                  <mat-chip-list aria-label="Fish selection">
                    <div *ngFor="let item of getArray(this.neurona.nEntradas); let i = index">
                      <div *ngFor="let item of getArray(this.neurona.nSalidas); let j = index">
                        <mat-chip>{{"W"+(i+1)+""+(j+1)+": "+matrizPesos[i][j]}}</mat-chip>
                      </div>
                    </div>
                  </mat-chip-list>
                </mat-card-actions>

              </div>




            </mat-card-actions>
          </mat-card-content>
        </mat-card>

        <!-- <mat-card-title *ngIf="neurona != null" class="mt-3">Inicializar pesos</mat-card-title> -->

        <div  *ngIf="form.get('tipoInitPesos').value === 'ingresarPesos'" class="pading-pesos" >
          <div class="row">
            <div formArrayName="arrayPesos"  *ngFor="let peso of arrayPesos.controls; let i = index">
                    <mat-form-field appearance="outline" class="mat-form">
                      <mat-label>{{"Peso"+(i+1)}}</mat-label>
                      <input [formControlName]="i" matInput type="number" />
                      <mat-error>{{getErroArrayPesos(peso)}}</mat-error>
                    </mat-form-field>
            </div>
          </div>
          <div *ngIf="this.capOcultas.length +1 !== this.vectorPesos.length">
            <button type="button" mat-flat-button color="primary" [disabled]="PesosValidos"
             (click)="nextMatrizPesos()">{{nameButtonPesos}}</button>
          </div>
        </div>

        <div *ngIf="form.get('tipoInitPesos').value === 'cargarPesos'">
          <p>Cargar archivos</p>
        </div>



        <div>
          <button mat-flat-button color="primary" [disabled]="PesosCompletos">Iniciar Entrenamiento</button>
        </div>
      </form>
      <ngx-charts-line-chart [view]="view" [scheme]="colorScheme" [legend]="legend" [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel" [xAxis]="xAxis" [yAxis]="yAxis" [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel" [timeline]="timeline" [results]="multi" (select)="onSelect($event)"
        (activate)="onActivate($event)" (deactivate)="onDeactivate($event)">
      </ngx-charts-line-chart>

      <div>
        <button mat-flat-button color="primary" id="wrapper" (click)="guardarNeurona('Pesos guardados', 'Cerrar')">Guardar neurona</button>
        <button mat-flat-button color="primary" id="wrapper" (click)="goSimulacion()">Simular</button>
      </div>

    </div>
  </div>
</div>

<button (click)="mostrarCapas()">Mostar capas ocultas</button>

