button {
  margin-right: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 80%;
}

.card-datos {
  width: 80%;
}
h2 {
  text-align: center;
  padding-bottom: 1rem;
}


table {
  width: 80%;
}

/* .container {
  width: 40%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
} */
